
{% extends "base.html" %}
{% load static from staticfiles %}

{% block head%}
<script src='https://www.google.com/recaptcha/api.js'></script>

<script src="{% static 'js/sweetalert.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">

<!-- jQuery -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

{% endblock%}

{% block sidebar %}
  {% include "sidebar.html" with active='contato' %}
{% endblock%}


{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Contato</h1>

    </div>
  </div><!--/.row-->

  <div id="contact_form" class="row">
        <div class="col-6 col-sm-6 col-lg-6">

          <p>Nós apreciamos seu feedback quanto ao uso da ferramenta. Nos ajude a fazê-la ainda melhor! Em caso de dúvidas ou sugestões, preencha os campos abaixo que entraremos em contato em breve.</p>

          <form id="contact-form" method="post">
                  {% csrf_token %}

            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Nome*" oninvalid="this.setCustomValidity('Preencha esse campo!')" required oninput="setCustomValidity('')" />
              <span class="help-block" style="display: none;">Entre com seu nome</span>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email*" oninvalid="this.setCustomValidity('Preencha esse campo!') " required oninput="setCustomValidity('')" />
              <span class="help-block" style="display: none;">Entre com seu email</span>
            </div>
            <div class="form-group">
              <textarea rows="10" cols="100" class="form-control" id="message" name="message" placeholder="Mensagem*" oninvalid="this.setCustomValidity('Preencha esse campo!')" required oninput="setCustomValidity('')" /></textarea>
              <span class="help-block" style="display: none;">Entre com sua mensagem.</span>
            </div>

            * Campos obrigatórios.


            <button type="submit"  class="btn btn-primary submitted" style="display: block; margin-top: 4px;">
              <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Enviar mensagem</button>


          </form>
        </div><!--/span-->
  </div><!--/row-->

</div>	<!--/.main-->


<script>

swal("Good job!", "You clicked the button!", "success");

</script>

<script>
function InvalidMsg(textbox) {
    if (textbox.value == '') {
        textbox.setCustomValidity('Lütfen işaretli yerleri doldurunuz');
    }
    else if (textbox.validity.typeMismatch){{
        textbox.setCustomValidity('please enter a valid email address');
    }
    else {
       textbox.setCustomValidity('');
    }
    return true;
}
</script>

<script>
document.querySelector('.submitted').onclick = function(){
        swal("Good job!", "You clicked the button!", "success");
      };
</script>



{% endblock%}
