{% extends "base.html" %}
{% load static from staticfiles %}



{% block head %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.js"></script>
<script src="{% static 'js/bootstrap-datepicker.pt-BR.js' %}" charset="UTF-8"></script>

<link href="{% static 'css/bootstrap-clockpicker.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap-clockpicker.min.js' %}" charset="UTF-8"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/pt-br.js"></script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker-standalone.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>




{% endblock %}

{% block sidebar %}
  {% include "sidebar.html" with active='reservar' %}
{% endblock%}

{% block content %}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Reserva</h1>
      <div class="panel panel-default">
      <div class="panel-body">


							<form role="form">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="sel1">Sala:</label>
                      <select class="form-control" id="room">
                        {% for room in rooms %}
                        <option>{{room.room_name}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class='col-sm-3'>
                    <div class="form-group">
                      <label for="sel1">Início:</label>
                      <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                  </div>
                </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

    </div>


                <!-- <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                </div>

                <script type="text/javascript">
                $(function () {
                  $('#datetimepicker2').datetimepicker({
                    locale: 'pt-BR'
                  });
                });
                </script> -->

                <!-- <div class="form-group">
                  <label for="sel1">Intervalo de reserva:</label>
                   <input  type="text" placeholder="Data de início"  id="data-inicio">

                   <input  type="text" placeholder="Data de fim"  id="data-fim">
                  </div>
                  <script type="text/javascript">
                    $('#data-inicio, #data-fim').datepicker({
                      format: "dd/mm/yyyy",
                      language: 'pt-BR',
                    });
                  </script> -->
              </form>
            </div>
           </div>

    </div>
    </div>
  </div><!--/.col-->
  </div><!--/.row-->



</div>	<!--/.main-->

{% endblock%}
