<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">

  <ul class="nav menu">
    <li class=".. {% if active == 'principal' %} active {% endif %}"><a href="/"><svg class="glyph stroked app window with content"><use xlink:href="#stroked-app-window-with-content"/></svg> Ver Reservas</a></li>
    <li class=".. {% if active == 'reservar' %} active {% endif %}"><a href="reservar"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Solicitar Reserva</a></li>
    <li class=".. {% if active == 'salas' %} active {% endif %}"><a href="#"><svg class="glyph stroked eye"><use xlink:href="#stroked-eye"/></svg> Salas Disponíveis</a></li>

    <li role="presentation" class="divider"></li>
    <li class=".. {% if active == 'login' %} active {% endif %}"><a href="accounts/login/"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Página de Login</a></li>

    <li role="presentation" class="divider"></li>
    <li class=".. {% if active == 'contato' %} active {% endif %}"><a href="contato"><svg class="glyph stroked email"><use xlink:href="#stroked-email"/></svg> Contato</a></li>

  </ul>

</div><!--/.sidebar-->
